<div class="header-wrapper">
  <div class="header-logo" style="text-align: left;">
    {% if section.settings.logo %}
      <a href="/" class="header__logo-image">
        {% assign image_size = section.settings.logo_max_width | append: 'x' %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
          srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
          alt="{{ section.settings.logo.alt | default: shop.name }}">
      </a>
    {% else %}
      <a href="/" class="header__logo-text">{{ shop.name }}</a>
    {% endif %}
  </div>
  <!-- Rest of your header code -->
</div>


<section class="custom-header">
  <div class="header-container">
    <!-- Logo -->
    <div class="logo">
      <a href="/" aria-label="SEA PALM" class="logo__image-link">
        <img src="{{ 'seapalm.png' | asset_url }}" alt="SEA PALM Logo" class="logo__image">
      </a>
    </div>

    <!-- Navigation -->
    <nav class="nav-menu">
      <a href="/new">New</a>

      <div class="has-submenu">
        <a href="/clothing">Clothing ▼</a>
        <div class="submenu">
          <a href="/clothing/all">All</a>
          <a href="/clothing/dresses">Dresses</a>
          <a href="/clothing/tops">Tops</a>
          <a href="/clothing/skirts">Skirts</a>
        </div>
      </div>

      <div class="has-submenu">
        <a href="/dresses">Dresses ▼</a>
        <div class="submenu">
          <a href="/dresses/all">All</a>
          <a href="/dresses/maxi">Maxi Dresses</a>
          <a href="/dresses/midi">Midi Dresses</a>
          <a href="/dresses/mini">Mini Dresses</a>
        </div>
      </div>

      <a href="/swim">Swim</a>
      <a href="/accessories">Accessories</a>
      <a href="/collections">Collections</a>
      <a href="/explore">Explore</a>
    </nav>

    <!-- Icons -->
    <div class="header-icons">
      <a href="javascript:void(0);" id="search-icon">🔍</a>
      <a href="/account">👤</a>
      <a href="/cart">🛒</a>
    </div>
  </div>
</section>
